<?xml version="1.0"?>
<configuration>
    <!--<configSections>
    </configSections>-->
    <!--<connectionStrings>
        <add name="SalesProject.Properties.Settings.MSPOSConnectionString" connectionString="Data Source=admin-pc\sqlexpress;Initial Catalog=MSPOS;Persist Security Info=True;User ID=sa;Password=ms@123" providerName="System.Data.SqlClient"/>
    </connectionStrings>-->
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="POS" connectionString="Data Source=PARTHA-PC;Initial Catalog=MSPOSP;Persist Security Info=True;User ID=sa;password=!Password123"
      providerName="System.Data.SqlClient" />
    <add name="SalesProject.Properties.Settings.MSPOSConnectionString"
      connectionString="Data Source=admin-pc\sqlexpress;Initial Catalog=MSPOS;Persist Security Info=True;User ID=sa;Password=ms@123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
